<!DOCTYPE html>
<html>
<head>
  <title>Twitter Mood Finder</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" type="text/css" href="moods/sad/sad.css">
</head>
<body>
  <header>
	<div>
		<img class="sad-img" src="moods/sad/Sad.png" alt="Sad">
    </div>
    <ul>
      <h1>Our Calculations indicate that you are <strong>sad</strong>!</h1>
    </ul>
    <ul>
      <p>It seems like you usually say things that make you sound <strong>joyous</strong></p>
      <p>Your Tweets are usually seen as <strong>positive and reaffirming</strong></p>
      <p>From what we've analyzed we noticed that <strong>you're good influence in your community</strong></p>
      <p>Keep on spreading a beneficial vibe with people around you!</p>
  </ul>
  	</header>  
  </body>
</html>