<!DOCTYPE html>
<html>
<head>
  <title>Twitter Mood Finder</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" type="text/css" href="moods/fearful/fearful.css">
</head>
<body>
  <header>
	<div>
		<img class="fearful-img" src="../../../public/moods/fearful/Fearful.png" alt="fearful">
    </div>
    <div>
      <h1>Our Calculations indicate that you are fearful!</h1>
    </div>
  	</header>  
  </body>
</html>