<!DOCTYPE html>
<html>
<head>
  <title>Twitter Mood Finder</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" type="text/css" href="moods/surprised/surprised.css">
</head>
<body>
  <header>
	<div>
		<img class="surprised-img" src="moods/surprised/Surprised.png" alt="surprised">
    </div>
    <ul>
      <h1>Our calculations indicate that you are <strong>surprised</strong> at the world!</h1>
    </ul>
    <ul>
      <p>Throughout your Twitter timeline, you've been regularly <strong>astounded</strong> by what the world has to offer</p>
      <p>Your Tweets are usually seen as being caught<strong>off-guard</strong></p>
      <p>From what we've analyzed, we noticed that <strong>you have a very curious or confused</strong> from what you've seen</p>
  </ul>
  	</header>  
  </body>
</html>