<!DOCTYPE html>
<html>
<head>
  <title>Twitter Mood Finder</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" type="text/css" href="index/Experiment.css">
</head>
<body>
  <header>
    <div>
      <ul>
        <br>
        <h1>Find your Twitter Mood</h1>
      </ul>
      <form action="/submit-username" method="GET">
        <span class="input">
          <input id="handle" name="handle" type="text" placeholder="@Userhandle" required minlength="2" maxlength="16" pattern="@+[0-9a-zA-Z_]*">
		  <button id="username" onclick="loading()" type="submit">What's the mood?</button>
		  <button id="graph" type="submit">Graph</button>
          <span></span>	
        </span>
      </form>
    <br>
    <div class = "loader-wrapper"id ="load1">
      <span class="loader" id="load2"><span class="loader-inner" id="load3"></span></span>
    </div>
    <script>
		function loading() {
			var disp1 = document.getElementById("load1");
			var disp2 = document.getElementById("load2");
			var disp3 = document.getElementById("load3");
			disp1.setAttribute("display", "inline-block");
			disp2.setAttribute("display", "inline-block");
			disp3.setAttribute("display", "inline-block");
			
			$(windows).on("load", function(){
        	$(".loader-wrapper").fadeOut("slow");
      		});
		}
    </script>
    </div>
  </header>
  </body>
</html>