<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <title>Twitter Mood Finder</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" type="text/css" href="index/Experiment.css">
</head>
<body>
  <header>
    <div>
      <ul>
        <br>
        <h1>Find your Twitter Mood</h1>
      </ul>
      <form method="GET">
        <span class="input">
          <label>@</label>
          <input id="handle" name="handle" type="text" placeholder="Userhandle" required minlength="2" maxlength="16" pattern="+[0-9a-zA-Z_]*">
		  <button id="username" onclick="loading()" formaction="/mood" type="submit">What's the mood?</button>
		  <button id="graph" formaction="/graph" type="submit">Graph</button>
          <span></span>	
        </span>
      </form>
    <br><span>
    <div class="spinner-border" role="status" display="none" id="load">
      <span class="sr-only">Loading...</span></span>
    </div>
    </div>
    <script>
		function loading() {
        Document.getElementById("load").setAttribute("display", "inline-block");
		}
    </script>
    </div>
  </header>
  </body>
</html>